{% extends "base.html" %}

{# {% load querystring %} #}

{% block content %}
<div class="">
  <div class="">
    <a href="{% url 'index' %}">Current tasks</a> |
    <a href="{% url 'task_list_future' %}">Future tasks</a> |
    <a href="{% url 'task_list_complete' %}">Completed tasks</a>
  </div>
</div>
<h1 class="">{{ header_text }}</h1>
<div class="">
  <form id="new-task-form" method="POST" action="{% url 'new_task' %}">
    {% csrf_token %}
    <input type="text" id="task-field" class="" name="task" placeholder="add a new task" maxlength="512" required
      autofocus aria-label="New task" id="{{ form.task.id_for_label }}">
  </form>
</div>
<div class="mv4" id="task-list">
  {% for task in tasks.all %}
    {% include "partials/task.html" %}
  {% empty %}
    <div>No tasks to show.</div>
  {% endfor %}
</div>

<div class="">
    <h2>Tags</h2>
    <ul>
        {% for tag in tags %}
            <li><a href="{% url 'task_list_tagged' tag=tag.text %}">#{{ tag.text }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
